<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/owner/changePwd" method="post">

        <label for="email">Enter Your Email ID : </label>
        <input type="text" name="email" id="email"><br><br>

        <label for="oldpassword">Enter Your Old Password : </label>
        <input type="text" name="oldpassword" id="oldpassword"><br><br>

        <label for="newpassword">Enter Your New Password : </label>
        <input type="password" name="newpassword" id="newpassword"><br><br>

        <button type="submit">CHANGE PASSWORD</button>

    </form>
</body>
</html>