<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Fill in the following Details To add a Subowner : </h1>
    <form action="/owner/createSubowner" method="post">

        <label for="fullname">Enter Full Name : </label>
        <input type="text" id="fullname" name="fullname"><br><br>

        <label for="email">Enter Email ID : </label>
        <input type="text" id="email" name="email"><br><br>

        <label for="contact">Enter Contact Number : </label>
        <input type="number" id="contact" name="contact"><br><br>

        <label for="password">Enter Password : </label>
        <input type="password" id="password" name="password"><br><br>

        <label for="confirm_password">Confirm Password : </label>
        <input type="text" id="confirm_password" name="confirm_password"><br><br>

        <button type="submit">CREATE</button>
    </form>
</body>
</html>